body {
  /*background-color: #DEB84A*/;
  
  align-content: center;
  align-items: center;
  background-color: #8b8c98;


}


.intro{
  font-family: "Quicksand", "helvetica", "sans-serif";
  font-size: px;
  text-align: center;
  font-weight: 00;
  padding: 30px;
  padding-right: 300px;
  padding-left: 300px;
  color: #ffffff;
}

.topo {
  background-position: center center;
  background-color: #8b8c98;
  background-size: cover;
  width: 100%;
  height: auto;
  align-content: center;
}


.list{
  position: relative;
  line-height: 15px;
  font-family: "Quicksand", "helvetica", "sans-serif";
  font-size: 12px;
  border: 8px solid #f2b33d;
  width: 500px;
  background-color: #ffffff;
}

.lista {
  align-items: center;
  align-self: center;
  padding-left: 415px;
}

}

/* Add the ID selector to this CSS rule */
#header-text  {
  margin: 0 auto;
  position: relative;
  text-align: center;
  text-transform: uppercase; 
  padding-top: 30px;
  width: 60%;
  font-size: 70px;
}

.whatIgot   {
  font-family: "Quicksand", "arial", "sans-serif";
  margin: 0 auto;
  position: relative;
  text-align: center; 
  padding-top: 30px;
  width: 60%;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 25px;

}



#menu ul {
  font-family: "Quicksand", "helvetica", "arial", "sans-serif";
  font-size: 12px;
  display: inline;
  list-style-type: none
  width: 100%;
  align-content: center; align-items: center; align-self: center;
  position: absolute;
 }

#menu  ul li { display: inline; }

menu {
  padding-bottom: 300px;
}


#years ul {
  font-family: "Quicksand", "helvetica", "arial", "sans-serif";
  font-size: 20px;
  display: inline;
  list-style-type: none
  width: 100%;
   align-content: center; align-items: center; align-self: center;
   position: absolute;
   color: #f2b33d;
 }

#years  ul li { display: inline; }



 a {
  color: #ffffff;
  padding: 10px;
 }

 a:hover {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(242,179,61)
 }



h1 {
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  margin: 0;
  font-variant: bold;
  text-align: center;
  padding-top: 20px;
}

h2 {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  text-transform: italic;
  padding-right: 400px;
  padding-left: 400px; 
}

h2 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
  text-transform: italic;
  padding-right: 400px;
  padding-left: 400px; 
}



#nav ul {
  text-align: center;
  font-family: "Quicksand"
  font-size: 12px;
  display: inline;
  border: 5px solid rgba(242,179,61,0.7)
  list-style-type: none
 }


#nav  ul li { display: inline; }




}

p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}


.main { 
  padding: 20px;
  font-family: "Quicksand", arial, sans-serif;
  text-align: center;
  font-size: 11px;
  height: auto;
  color: #ffffff;
  display:  table;
        width:auto;
  padding-left: 20  5px;
  align-content: top;
}

.table {
  display:table-row;
  width:auto;
  clear:both;
  vertical-align: top;
  border: 1px ;}

.table .td{
  vertical-align: top;
}  

.main .li {
  color: #ffffff
}

.grid {
  background-color: rgb(139,140,152);  
  border-collapse: collapse
}


#grid {
  background-color: rgb(139,140,152);  
  border-collapse: collapse
}



.row:hover {
  font-weight: bold;
  background-color: rgb(242,233,107);
}

.row:nth-child{
 font-weight: bold;
  background-color: rgb(139,140,152);

}

#example {
   height:600px;
   padding-top: 2px;}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
